
.contenedor{
  padding-top: 200px;
}

body {
  background-color:#fffbf7
}

/*Barra de navegacion Primera*/
form button {
  color:#fff;
  background-color: #025157;
  padding: 15px 20px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.header {
  margin: 40px 20px 20px;
  font-size: 0;
}

li {
  display: inline;
  margin: 25px;
  font-family: "Open Sans", sans-serif;
  color: #025157;
 
}

.logo {
  width: 15%;
  height: 100%;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

/*.navbar {
  width: 70%;
  text-align: center;
  color: #025157;
  font-weight: 500;
  padding-bottom: 45px;
}*/



.actions {
  width: 20%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.actions > * {
  margin-left: 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}

/*Css bootstrap*/
.navbar {
  background-color: #fffbf7;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.navbar-light .nav-item .nav-link {
  color: #025157;
}

.navbar-light .navbar-toggler {
  border-color: #025157;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*Contenedor*/
.contenedor h1 {
    color: #025157;
    font-size: 35px;
    font-family: 'Dela Gothic One', cursive;
    
}

.contenedor h4{
    color:#46484c;
    font-family: 'Raleway', sans-serif;
}

.contenedor p {
    color:#8b8b8bcc;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

.contenedor form .email {
  padding: 14px 20px;
  margin-right: -10px;
  border: 1px solid #000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

  .contenedor{
      text-align: center;
  }

  
  figure img{
    height: 60%;
    width: 65%;
  }

  .publish  h3{
    font-family: "Alegreya", serif;
    font-size: 30px;
    line-height: 48px;
    color: #025157;
  }

  .publish  h3 + p{
    font-size: 16px;
    color: #343434;
    margin-bottom: 20px;
  }

  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #8b8b8bcc;
    margin-right: 18px;
  }

  .promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }

  .promo form .email {
    padding: 8px;
    margin-right: -10px;
    border: 1px solid #000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .section-video{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-video img{
    width: 120px;
    margin-top: 10px;
  }

/*Estilos Cards*/
.features {
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  grid-template-rows: repeat(2, 330px);
  background-color: #025157;
  padding: 5% 10%;
}

.features .feature-content{
  border-radius: 2%;
  margin: 30px 15px 15px 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.features .feature-content .feature-card{
  margin: 5%;
  flex: 2;
}

.features .feature-content .feature-image{
  flex: 1;
}

.features .feature-content .feature-card img{
  width: 50px;
  margin-left: -20%;
}

.features .feature-content .feature-card h3{
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature-content .feature-card p{
  font-family: sans-serif;
  color: #737373;
  font-weight: 400;
}

.features .feature-content .feature-card a{
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.feature-image{
  border: 1px solid #C00;
  height: 80%;
}


/*Estilos Growing*/
.growing {
  background-color: #a1d683;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview{
  margin: 30px 50px;
}

.overview > h2{
  font-family: 'Dela Gothic One', cursive;
  font-size: 35px;
  font-weight: 0px;
  color: #025157;
}

.overview p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.overview button {
  color:#fff;
  background-color: #025157;
  padding: 15px 20px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
}


