main {
  margin-top: 285px;
  text-align: center;
}

body {
  background-color:#9d836a;
}

button {
  background-color:#025157;
}

h1 {
  color: #46484c;
}

h4 {
    color:#8b8b8bcc;
}

#texto-button {
    color:#fff;
}

.header {
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}

.header > *{
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}


.logo > img {
  height: 70%;

}

.navbar {
  width: 70%;
  text-align: center;
  color: #025157; 
}

ul > * {
  display: inline-block;
  margin: 0px 25px;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
}

a {
  padding: 10px;
  color: #67b54b;
}

button {
  background-color: #67b54b;
  color: #ffff;
  padding: 14px 12px;
  border-radius: 5px;
  border-style: none;
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

/*Aqui empieza la sesion 4*/
.features {
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  grid-template-rows: repeat(2, 330px);
  background-color: #025157;
  padding: 5% 10%;
}

.features .feature-content{
  border: red solid 2px;
  border-radius: 2%;
  margin: 30px 15px 15px 30px;
  background-color: #fff;
}

.features .feature-content .feature-card{
  margin: 5%;
  width: 50%;
}

.features .feature-content .feature-card img{
  width: 50px;
 margin-left: -20%;
}

.features .feature-content .feature-card h3{
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature-content .feature-card p{
  font-family: sans-serif;
  color: #737373;
  font-weight: 400;
}

.features .feature-content .feature-card a{
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}




