@media (max-width: 575px) {
    .navbar, .actions {
    display: none;
    }
    .contenedor h1 {
        font-size: 25px;    
    }
    
    .banner > img {
        width: 100%;
    }

    .promo {
        flex-direction: column;
        max-width: 90%;
      }
    
      .explanatory-video > video {
        width: 100%;
      }
    
      .publish {
        margin-top: 10px;
      }
    
      .publish > h3 {
        font-size: 25px;
        line-height: 1.2;
      }

      .publish > form {
        flex-direction: column;
      }
    
      .publish > form > div {
        height: 50px;
        margin-top: 10px;
      }
    
      .publish > form > div > input {
        width: 65%;
      }

      .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
      }

      .feature-image {
        display: none;
      }

      
  }
  
  /** dispositivos pequeños en vista landscape (horizontal) */
  @media (min-width: 576px and max-width: 767px) {

  }
  
  /** dispositivos medianos (tablets) */
  @media (min-width: 768px and max-width: 991px) {
    
  }
  
  /** dispositivos grandes (desktops) */
  @media (min-width: 992px and max-width: 1199px) {
   
  }
  
  /** dispositivos extra grandes (monitores grandes, tvs) */
  @media (min-width: 1200px) {
    
  }